<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'todo:tasks-completed' %}">Completed Task</a></li>
      <li><a href="{% url 'todo:tasks-incompleted' %}">Incompleted Task</a></li>
      <li><a href="{% url 'todo:task-activity-feed' %}">Activity Feed</a></li>
      {% if request.user.is_authenticated %}
        
        <li style="float:right"><a href="{% url 'account:logout' %}">Logout</a></li>
        <li style="float:right"><a href="{% url 'account:login' %}">{{request.user}}</a></li>
      
      {% else %}
      <li style="float:right"><a href="{% url 'account:login' %}">Login</a></li>
      <li style="float:right"><a href="{% url 'account:sign_up' %}">Signup</a></li>
      {% endif %}

    </ul>
  </div>
  <div>
    {% block home %}{% endblock %}
    {% block task %}{% endblock %}
    

  </div>
</body>
</html>