{% extends 'base/base.html' %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block task %}
<div class="container">
  <h2>Task form</h2>
  <form method="POST">
  	{% csrf_token %}
    <div class="form-group">
      <label for="Task_name">Task Name</label>
      <input type="input" class="form-control" id="Task_name" placeholder="Task Name" name="Task_name">
    </div>
    <div class="form-group">
      <label for="Task_deadline">Task Deadline</label>
      <input type="input" class="form-control" id="Task_deadline" placeholder="Task Deadline" name="Task_deadline">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="Task_completed">Task Status</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}
</body>

